body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(0, 0%, 21%);
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scrollbar-width: none;
}

div {
  scrollbar-width: none;
}

.root-element.light {
  background-color: hsl(0, 0%, 85%);
  color: hsl(0, 0%, 21%);
  transition: background-color 0.5s ease;
}
.root-element.dark {
  background-color: hsl(0, 0%, 20%);
  color: hsl(60, 1%, 81%);
  transition: background-color 0.5s ease;
}

.root-element.dark div#divider {
  background-color: hsl(0, 0%, 29%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  overflow: scroll;
}

pre {
  overflow: scroll;
}

.editor {
  flex: 1;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 3;
  position: relative;
}

.editor * {
  z-index: 3;
}

#container-homejs.dark .ql-snow.ql-toolbar button.ql-active .ql-stroke {
  stroke: #06c;
}
#container-homejs.dark .ql-blank.ql-snow .ql-editor {
  background-color: hsl(0, 0%, 31%);
  color: hsl(60, 1%, 81%);
}

#container-homejs.dark .ql-toolbar .ql-stroke {
  stroke: #fff;
  background-color: hsl(0, 0%, 29%);
}

#container-homejs.dark .ql-toolbar .ql-picker span.ql-picker-options {
  color: #000;
  background-color: hsl(0, 0%, 26%);
}

#container-homejs.dark .ql-toolbar .ql-fill {
  fill: #fff;
  background-color: hsl(0, 0%, 29%);
}

#container-homejs.dark .ql-toolbar span.ql-picker-label {
  color: #fff;
}

#container-homejs.dark button.ql-active * {
  stroke: #06c;
}

img {
  max-width: 100%;
  max-height: 100%;
}

div#quill {
  display: flex;
  flex-direction: column;
  padding-right: 4dvw;
  padding-left: 4dvw;
  position: relative;
}

.textfeed-js {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  gap: 2vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: block;
  margin: 0 auto;
  margin-top: 30%;

  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #06c;
  animation: spin 1s linear infinite;
}

#login-container .loading {
  margin-top: 0;
}

@media screen and (max-width: 960px) {
  .textfeed-js {
    padding-right: 0;
  }
}

div.ql-container.ql-snow {
  border: none;
  flex: 1;
  overflow-y: scroll;
  overflow-x: visible;
  max-height: 70vh;
  position: relative;
}
/* this fixes link input tooltip in ql */
div.ql-tooltip.ql-editing:not([style*="left: auto;"]):is([style*="left: -"]) {
  left: 0 !important;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: none;
}

div.ql-toolbar.ql-snow {
  border: none;
  margin-bottom: 2rem;
}

div.ql-toolbar.ql-snow * {
  z-index: 9999;
}

.custom-quill {
  position: relative;
}

.custom-quill .ql-tooltip {
  position: absolute;
  display: flex;
  flex: 1;
  z-index: 9999;
  background: white;
  padding: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

p {
  position: relative;
}

#container-homejs .ql-editor {
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 0%);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 50vh;
  width: 100%;
  margin-bottom: 2vh;
}

#container-homejs.dark .ql-editor {
  background-color: hsl(0, 0%, 35%);
  color: hsl(0, 0%, 85%);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 50vh;
  width: 100%;
  margin-bottom: 2vh;
}

div.submit-button-container {
  display: flex;
  flex: 0;
  gap: 1rem;
  padding-right: 4dvw;
  max-width: max-content;
  max-height: min-content;
  margin-left: auto;
}

blockquote {
  border-left: 0.25em solid hsl(0, 0%, 29%);
  padding-left: 1em;
  margin-left: 0;
  font-style: italic;
  font: 1.2em Georgia, "Times New Roman", Times, serif;
}
.entry-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entry-footer .shared-by {
  margin-right: 0;
  margin-left: auto;
}
#share-popup {
  position: fixed;
  z-index: 5;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  width: max-content;
  height: max-content;
}

.popup-container {
  position: fixed;
  z-index: 5;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  width: max-content;
  height: max-content;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 0%);
}

.submit-button-container.delete {
  padding: 0;
}

#share-popup div.submit-button-container {
    padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 4;
}

.notes-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 5%, 0.4);
  z-index: 3;
}

.root-element.dark .popup-container {
  background-color: hsl(0, 0%, 35%);
  color: hsl(0, 0%, 85%);
}

.x-button {
  cursor: pointer;
  border-radius: 0.5rem;
  background: none;
  color: hsl(0, 0%, 25%);
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.1rem;
}

.root-element.dark .x-button {
  color: hsl(0, 0%, 73%);
}

.x-button:hover,
.root-element.dark .x-button:hover {
  color: red;
}
.entry-main {
  border: 0px solid hsl(60, 1%, 81%);
  background-color: hsl(0, 0%, 73%);
  color: black;
  border-radius: 0.6em;
  border-top-left-radius: 0;
  box-shadow: 0 0 0.5em hsl(0, 0%, 26%);
  padding: 1em;
  padding-top: 0.5em;
  margin-left: 2rem;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 2rem;
  position: relative;
  flex: 1;
  transition: flex 0.5s ease;
  overflow-x: scroll;
  scrollbar-width: 1px;
}

.entry-main:hover {
  box-shadow: 0 0 0.3em hsl(0, 0%, 26%);
  transition: box-shadow 0.2s ease;
}

@media screen and (max-width: 960px) {
  .entry-main {
    margin: 0;
  }
  .textfeed-js {
    gap: 2px;
  }
}

.entry-main p,
.entry-main blockquote .entry-main ul,
.entry-main ol {
  margin: 0.3em;
}

.entry-main:nth-child(odd) {
  background-color: hsl(0, 0%, 81%);
}

.entry-main.dark {
  background-color: hsl(0, 0%, 25%);
  color: hsl(60, 1%, 81%);
  box-shadow: 0 0 0.5em hsl(0, 0%, 26%);
}

.entry-main.dark:hover {
  box-shadow: 0 0 0.5em hsl(0, 0%, 45%);
  transition: box-shadow 0.2s ease;
}

.entry-main.dark:nth-child(even) {
  background-color: hsl(0, 0%, 29%);
}

.entry-main > span {
  margin: 1rem 0.5rem;
  padding: 1rem 0.5rem;
  flex: 1;
}

.user-button,
.menu-button {
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.75;
  border: 1px solid transparent;
  font-size: smaller;
  background-color: hsl(0, 0%, 73%);
  color: hsl(0, 0%, 26%);
  max-width: min-content;
  position: relative;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.5em;
  border-top-right-radius: 0;
  word-wrap: normal;
}

.menu-button {
  position: absolute;
  color: red;
  border-radius: 0.3rem;
  border-top-left-radius: 0;
  flex: 0;
  padding: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.root-element.dark .user-button,
.root-element.dark .menu-button {
  background-color: hsl(0, 0%, 21%);
  color: hsl(0, 0%, 69%);
}

.theme-button {
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: hsl(0, 0%, 21%);
  opacity: 0.75;
  border: none;
  font-size: 0.9em;
  color: hsl(0, 0%, 75%);
  max-width: max-content;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.5em;
  border-top-left-radius: 0;
  word-wrap: nowrap;

  margin-right: auto;
  margin-left: 5vw;
  transition: background-color 0.4s ease;
}

.theme-button:hover {
  background-color: hsl(0, 0%, 31%);
  transition: background-color 0.4s ease;
}

.root-element.dark .theme-button {
  color: hsl(0, 0%, 21%);
  transition: background-color 0.4s ease;
  background-color: hsl(0, 0%, 75%);
}

.root-element.dark .theme-button:hover {
  background-color: hsl(0, 0%, 85%);
  transition: background-color 0.4s ease;
}

.root-element.dark .user-button:hover,
.root-element.dark .menu-button:hover {
  background-color: hsl(0, 0%, 26%);
  color: red;
  transition: background-color 0.4s ease;
}

button.user-button:hover,
.menu-button:hover {
  color: red;
  transition: background-color 0.4s ease;
}

div.user-button {
  background: none;
}

.expand-button-container {
  display: flex;
  flex-direction: row;
}

.submit-button {
  margin: 2px;
  margin-top: 1rem;
  padding: 0.3em 0.5em;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  font-size: small;

  background-color: hsl(0, 0%, 73%);
  color: hsl(0, 1%, 26%);
  cursor: pointer;
  max-width: max-content;
  transition: background-color 0.4s ease;
}

#container-homejs.dark button.submit-button {
  background-color: hsl(0, 0%, 29%);
  color: hsl(0, 0%, 73%);
  transition: background-color 0.4s ease;
}

#container-homejs.dark .submit-button:hover {
  background-color: hsl(0, 0%, 39%);
  transition: background-color 0.4s ease;
}

.submit-button:hover {
  background-color: hsl(0, 0%, 83%);
  transition: background-color 0.4s ease;
}

.expand-button {
  background-color: hsl(0, 0%, 70%);
  opacity: 0.75;
  border: none;
  font-size: smaller;
  color: hsl(219, 76%, 57%);
  flex: 1;
  max-width: max-content;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  border-top-right-radius: 0;
  margin-left: 2rem;
  margin-right: auto;
  word-wrap: normal;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

button.expand-button.mobile-view-button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.expand-button:hover {
  background-color: hsl(0, 0%, 80%);
  transition: background-color 0.4s ease;
}

.mobile-view-button {
  margin-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 960px) {
  .expand-button {
    margin-right: 0rem;
    margin-top: 0;
    margin-left: 0;
  }
  .mobile-view-button {
    margin-right: 0;
    margin-left: auto;
  }
}

.expand-item {
  background: none;
  cursor: pointer;
  margin-left: 0;
}

.menu-button > a {
  color: red;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 7vh;
  position: relative;
}

.navbar-spacer {
  width: 80%;
  border-bottom: 1px solid hsl(0, 0%, 73%);
  margin: 0 auto;
}
.root-element.dark .navbar-spacer {
  border-bottom: 1px solid hsl(0, 0%, 29%);
}

.logout {
  position: relative;
  display: flex;
  flex: 0;
  flex-direction: column;
  padding: 0;
}

#main-container {
  display: flex;
  flex-direction: row;
  height: 100dvh;
}

#container-homejs {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#divider {
  height: 8dvh;
  cursor: col-resize;
  background-color: hsl(0, 0%, 73%);
  width: 0.3em;
  border-radius: 0.1em;
  opacity: 0.8;
  position: relative;
  align-self: center;
  margin-top: -5%;
}

#divider:hover {
  box-shadow: 0 0 0.2em hsl(0, 0%, 60%);
}
#divider:active {
  box-shadow: 0 0 0.2em hsl(0, 0%, 60%);
}

.root-element.dark #divider:hover {
  background-color: hsl(0, 0%, 29%);
  box-shadow: 0 0 0.2em hsl(0, 0%, 45%);
}
.root-element.dark #divider:active {
  background-color: hsl(0, 0%, 29%);
  box-shadow: 0 0 0.2em hsl(0, 0%, 45%);
}

#item-list {
  overflow: scroll;
  margin-top: 0.5rem;
}

::-webkit-scrollbar {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  height: max-content;
  box-shadow: 0 0 0.2em hsl(0, 0%, 79%);
}

.root-element.dark #login-container {
  background-color: hsl(0, 0%, 21%);
}

.root-element.dark form {
  background-color: hsl(0, 0%, 35%);
  border: 1px solid hsl(0, 0%, 45%);
}

form button {
  margin: 2px;
  margin-left: auto;
  margin-top: 1rem;
  padding: 0.3em 0.5em;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  font-size: small;

  background-color: hsl(0, 0%, 73%);
  color: hsl(0, 1%, 26%);
  cursor: pointer;
  max-width: max-content;
  transition: background-color 0.4s ease;
}

@media screen and (min-width: 960px) {
}
form {
  width: max-content;
  border-radius: 0.4em;
  border: 1px solid lightgray;
  background-color: rgb(240, 240, 240);
  flex: 0 1 40%;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(0, 0%, 69%);
}
@media screen and (max-width: 960px) {
  #login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 69%);
  }
}
@media screen and (max-width: 960px) {
  form {
    width: max-content;
    padding: 0 1rem;
    height: 40dvh;
    flex: 0 1 auto;
  }

  #login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 69%);
  }

  #login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 69%);
  }

  #container-homejs {
    margin: 0;
    flex-direction: column;
  }

  div.ql-editor {
    height: 61vh;
  }
}

input {
  flex: 0 0 auto;
  padding: 0.5rem;
  border: 1px solid hsl(60, 1%, 81%);
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 73%);
  color: hsl(0, 0%, 20%);
  font-size: 1rem;
  cursor: pointer;
  max-width: max-content;
}

.root-element.dark input {
  color: hsl(0, 0%, 20%);
  border: 1px solid hsl(0, 0%, 45%);
}

input:focus {
  box-shadow: 0 0 0.8em hsl(224, 38%, 50%);
}

#register-form-label-main {
  font-size: x-large;
  font-weight: 500;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 3rem;
  text-align: center;
}

.root-element.dark #register-form-label-main {
  color: hsl(0, 0%, 85%);
}

button#register:hover {
  background-color: hsl(0, 0%, 83%);
  transition: background-color 0.4s ease;
}
button#login:hover {
  background-color: hsl(0, 0%, 83%);
  transition: background-color 0.4s ease;
}

span.ql-font-Lato {
  font-family: "Lato", "Arial", "Helvetica", "sans-serif";
}

span.ql-font-Lora {
  font-family: "Lora", "Georgia", "serif";
}

span.ql-font-Inconsolata {
  font-family: "Inconsolata", "Courier New", "Courier", "monospace";
}

span.ql-font-Comic {
  font-family: "Comic Sans MS", "Comic Sans", "Marker Felt", "Arial",
    "sans-serif";
}

span.ql-font-Roboto {
  font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
}

span.ql-size-huge {
  font-size: 2.5em;
}

span.ql-size-large {
  font-size: 1.5em;
}

span.ql-size-small {
  font-size: 0.75em;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Lato"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Lato"]::before {
  content: "Lato";
  font-family: "Lato", "Arial", "Helvetica", "sans-serif";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Lora"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Lora"]::before {
  content: "Lora";
  font-family: "Lora", "Georgia", "serif";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Inconsolata"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Inconsolata"]::before {
  content: "Inconsolata";
  font-family: "Inconsolata", "Monaco", "Consolas", "Courier New", monospace;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Roboto"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Roboto"]::before {
  content: "Roboto";
  font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
}
