body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(231, 14%, 20%);
  color: hsl(60, 1%, 81%);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.editor {
  flex: 1;
  padding-left: 4dvw;
  padding-top: 3rem;
  padding-right: 4dvw;
  overflow-y: scroll;
}

.textfeed-js {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 4dvw;
}

.ql-container.ql-snow {
  border: none;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: none;
}

div.ql-toolbar.ql-snow {
  border: none;
  margin-bottom: 2rem;
}

.ql-editor {
  background-color: hsl(230, 15%, 16%);
  color: hsl(60, 1%, 81%);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 33vh;
  width: 100%;
  margin-bottom: 2vh;
}

div.submit-button-container {
  display: flex;
  max-width: max-content;
  flex-direction: column;
  margin-top: 2rem;
  margin-right: 0;
  margin-left: auto;
}
.submit-button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 0px solid hsl(60, 1%, 81%);
  border-radius: 0.5rem;
  background-color: hsl(230, 15%, 16%);
  color: hsl(60, 1%, 81%);
  font-size: 1rem;
  cursor: pointer;
  max-width: max-content;
  margin-right: auto;
  margin-left: 0rem;
}

blockquote {
  border-left: 0.25em solid hsl(60, 1%, 81%);
  padding-left: 1em;
  margin-left: 0;
  color: hsl(1, 1%, 82%);
  font-style: italic;
  font: 1.2em Georgia, "Times New Roman", Times, serif;
}

.x-button {
  cursor: pointer;
  border-radius: 0.5rem;
  background: none;
  color: red;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.1rem;
}
.entry-main {
  border: 1px solid hsl(60, 1%, 81%);
  background-color: bisque;
  color: black;
  border-radius: 0.6em;
  border-top-left-radius: 0;
  box-shadow: 0 0 0.5em hsl(0, 0%, 26%);
  padding: 1em;
  padding-top: 0.1em;
  margin: 2rem;
  margin-right: 0;
  position: relative;
  flex: 1;
}
.user-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 0.5rem;
  border: 0px solid hsl(60, 1%, 81%);
  border-radius: 0.25rem;
  background-color: hsl(230, 15%, 16%);
  color: hsl(230, 15%, 16%);
  font-size: 1rem;
  cursor: pointer;
}

button.user-button:hover {
  border: 1px solid hsl(60, 1%, 81%);
}

div.user-button {
  background: none;
}

.expand-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.expand-button {
  background-color: hsl(60, 11%, 69%);
  opacity: 0.75;
  border: none;
  font-size: x-small;
  color: rgb(61, 119, 228);
  flex: 1;
  max-width: max-content;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.5em;
  border-top-right-radius: 0;
  margin-right: 2rem;
  margin-left: auto;
  word-wrap: normal;
}

.expand-item {
  background: none;
  cursor: pointer;
}

.menu-button {
  background-color: hsl(230, 15%, 16%);
  border-radius: 0.3rem;
  padding: 0.3rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.menu-button > a {
  color: hsl(60, 1%, 81%);
  text-decoration: none;
}

#main-container {
  display: flex;
  flex-direction: row;
  height: 100dvh;
}

#container-homejs {
  flex: 1;
  display: flex;
  overflow: scroll;
}

#divider {
  height: 100dvh;
  cursor: col-resize;
  background-color: rgb(153, 153, 153);
  width: 0.3em;
  border-radius: 0.1em;
  opacity: 0.8;
}

#divider:hover {
  box-shadow: 0 0 0.2em hsl(0, 0%, 79%);
}

#item-list {
  overflow: scroll;
  margin-top: 2.5rem;
}

::-webkit-scrollbar {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  
}

form {
  width: 16vw;
  border-radius: 2em;
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
  height: 50dvh;
  margin-top: 25dvh;
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}

input {
  flex: 0 0 auto;
  padding: 0.5rem;
  border: 1px solid hsl(60, 1%, 81%);
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 73%);
  color: hsl(60, 1%, 81%);
  font-size: 1rem;
  cursor: pointer;
  max-width: min-content;
}

input:focus {
  box-shadow: 0 0 0.8em hsl(224, 38%, 50%);
} 

#register-form-label-main {
  font-size: x-large;
  font-weight: 500;
  color: black;
  margin-top: 2rem;
  margin-bottom: 5rem;
  height: 3rem;
  text-align: center;

}

button#register {
  padding: 0.5rem;
  border: 1px solid hsl(60, 1%, 81%);
  border-radius: 0.5rem;
  background-color: hsl(230, 15%, 16%);
  color: hsl(60, 1%, 81%);
  font-size: 1rem;
  cursor: pointer;
  max-width: max-content;
  margin-right: 2rem;
  margin-left: auto;
  font-size: small;
}
button#login {
  padding: 0.5rem;
  border: 1px solid hsl(60, 1%, 81%);
  border-radius: 0.5rem;
  background-color: hsl(230, 15%, 16%);
  color: hsl(60, 1%, 81%);
  font-size: 1rem;
  cursor: pointer;
  max-width: max-content;
  margin-right: 2rem;
  margin-left: auto;
  font-size: small;
}
button#register:hover {
  border: 1px solid hsl(230, 15%, 16%);
}
button#login:hover {
  border: 1px solid hsl(230, 15%, 16%);
}
input[type="password"]:hover {
  

}