
.entry-title, .entry-content {
  transition: height 0.6s ease, opacity 0.6s ease;
}

.entry-title.collapsed {
  display: block;
  font-size: 1.3em;
  opacity: 1;
  height: auto;
}

.entry-title.expanded {
  display: block;
  font-size: 1.3em;
  opacity: 0;
  height: 0;
}

.entry-content.collapsed {
  display: block;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.entry-content.expanded {
  display: block;
  opacity: 1;
  height: auto;
}